{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="text-center mb-5">
            <h1 class="display-4">Добро пожаловать в наш каталог!</h1>
            <p class="lead">Здесь вы найдете лучшие товары по выгодным ценам.</p>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Качество</h5>
                        <p class="card-text">Мы гарантируем высокое качество всех наших товаров.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Доставка</h5>
                        <p class="card-text">Быстрая доставка по всей стране.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Поддержка</h5>
                        <p class="card-text">Круглосуточная поддержка клиентов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}